  <p class="text-muted"> Posted by <%= forum_post.user.email %>  <%= local_time_ago forum_post.created_at %> </p>
  <p> <%= markdown(forum_post.body) %> </p>
  <p> <%= link_to 'See Comments', comments_index_path %> </p>
