<h1>About</h1>
<p>If you find yourself reading this than you are one of two things:
     <ol>
       <li> You are a person who is interested in learning how to program </li>
       <li> You are a new programmer going through the beginning struggles </li>
    </ol>
</p>
<p> Let me start off by saying Congratulations on taking the first steps to becoming a programmer. Not too long ago I was in your very shoes and looking for a way to talk to people going through the same issues I was and just being able to vent about my frustrations and struggles when I first started. The late nights being frustrated because you have a bug and can't figure out where it is, the constant reworking of your code to try to get a loop right, the constant studying of terms and methods, all while trying to learn how to actually implement the stuff you are learning. I remember times when I just wanted to scream, throw my computer, and quit. But I didn't and I was persistent and kept working and it was well worth it. So if you find yourself going through the same feelings and cycle as I then don't worry you have come to the right place and I have some advice for you.
  <ol>
    <li> Relax and take a deep breath <strong> you can get through this</strong></li>
    <li> Go to forums for your language or technology you are using </li>
    <li> Let it out and talk with people in the same situation as you <strong> I promise you, you are not alone</strong></li>
  </ol>
 </p>
