<br>
<div class="jumbotron">
  <h1 id="title">New Programmer's Forum</h2>
  <h2 id="intro">Forum for people new to computer programming to talk with others who are new to computer programming</h2>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg ok' %>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5 accounts">
    <h2>What we are:</h2>
    <ul>
      <li>A place for all new programmers to talk about problems they are facing</li>
      <li>A place for new programmers to network with peers</li>
      <li>A place for new programmers to share insight and motivations</li>
    </ul>
  </div>
  <div class="col-md-5 accounts">
    <h2>Who you are:</h2>
    <ul>
      <li>A new programmer or someone interested in learning how to program.</li>
      <li>Open minded</li>
      <li>Desire to learn more</li>
    </ul>
  </div>
</div>
<br>
<footer>
  <p> Created by Mark DellaPosta 2018 </p>
</footer>
