<h1>All Forums</h1> <%= link_to "New Thread", new_forum_thread_path, class: 'btn btn-success' %>
<br>

<% @forum_threads.each do |forum| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to forum.subject, forum %>
      </h4>
    </div>
  </div>
<% end %>
