<h1> New Forum Thread </h1>
<div class="row">
  <div class="col-md-4">
    <h4>New Programmer's Forum supports Markdown syntax.</h4>
    <h4> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Here's a cheat sheet for reference.</a></h4>
  </div>

<%= render partial: 'form', locals: {forum_thread: @forum_thread} %>
