<div class= "container">
  <div class= "pull-right">
    <h4>New Programmer's Forum supports Markdown syntax.</h4>
    <h4> <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Here's a cheat sheet for reference.</a></h4>
  </div>
</div>

<div class= "container">
  <h1> <%= @forum_thread.subject %> </h1>
  <p> created by <%= @forum_thread.user.email %> </p>

<h2> Posts </h2>
<div class= 'row'>
  <div class='col-md-8'>
    <% @forum_thread.forum_posts.each do |forum_post| %>
      <%= render partial: 'forum_threads/forum_posts/forum_post', locals: { forum_post: forum_post }%>
    <% end %>
  </div>
  <div class='col-md-8'>
    <%= render partial: 'forum_threads/forum_posts/form', locals: {forum_post: @forum_post, forum_thread: @forum_thread} %>
  </div>
</div>
</div>
